antlr4-python3-runtime==4.13.2
av==13.1.0
beautifulsoup4==4.13.4
cloup==3.0.7
dill==0.4.0
isosurfaces==0.1.2
manim==0.19.0
ManimPango==0.6.0
matplotlib==3.10.1
networkx==3.4.2
numpy==2.2.5
openqasm3==1.0.1
pandas==2.2.3
plotly==5.18.0
pydot==3.0.4
pydub==0.25.1
pyglet==2.1.4
pyglm==2.8.2
scipy==1.15.2
seaborn==0.13.2
streamlit==1.29.0
symengine==0.13.0
sympy==1.13.3
