antlr4-python3-runtime==4.13.2
av==13.1.0
beautifulsoup4==4.13.4
cloup==3.0.7
dill==0.4.0
isosurfaces==0.1.2
manim==0.19.0
ManimPango==0.6.0
matplotlib==3.10.1
networkx==3.4.2
numpy==2.2.5
openqasm3==1.0.1
pandas==2.2.3
pydot==3.0.4
pydub==0.25.1
pyglet==2.1.4
pyglm==2.8.2
qiskit==0.36.2
qiskit-aer==0.10.4
qiskit-ibmq-provider==0.19.1
qiskit-ignis==0.7.1
qiskit-qasm3-import==0.5.1
qiskit-terra==0.20.2
scipy==1.15.2
seaborn==0.13.2
symengine==0.13.0
sympy==1.13.3
tweedledum==1.1.1
z3-solver==4.14.1.0
